<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="text-center mb-4">
    <img class="mb-4" src="assets/images/Logo.jpg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">SIGN IN</h1>
    
  </div>

  <div class="form-label-group">
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" formControlName="username" required autofocus>
    <label for="inputUsername">Username</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/dashboard" >Sign in</button>
  
  <button type="button" routerLink="/register" class="btn btn-lg btn-primary btn-block">Sign Up</button>

</form>