<div class="template">
  <div class="signup-form">
    <form [formGroup]="rForm" (ngSubmit)="onSubmit()">
      <h2>Register</h2>
      <div class="form-group">
        <input
          type="text"
          formControlName="username"
          class="form-control"
          id="rUsername"
          name="username"
          placeholder="Username"
          required
        />
      </div>
      <app-error-message [control]="rForm.get('username')"></app-error-message>
      <div class="form-group">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="rPassword"
          name="password"
          placeholder="Password"
          required
        />
      </div>

      <app-error-message [control]="rForm.get('password')"></app-error-message>
      <div class="form-group">
        <input
          type="email"
          formControlName="email"
          class="form-control"
          name="email"
          id="rEmail"
          placeholder="Email"
          required
        />
      </div>
      <app-error-message [control]="rForm.get('email')"></app-error-message>

      <div class="form-group">
        <p-dropdown
          [options]="bikes"
          id="rBike"
          formControlName="bmodel"
          placeholder="Select a Bike"
          optionLabel="name"
          [showClear]="true"
          [style]="{ width: '150px' }"
        ></p-dropdown>
      </div>
      <div class="form-group">
        <input
          type="text"
          formControlName="location"
          class="form-control"
          name="location"
          id="rLocation"
          placeholder="Location"
          required
        />
      </div>
      <app-error-message [control]="rForm.get('location')"></app-error-message>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">
          Register Now
        </button>
      </div>
    </form>
  </div>
</div>
