<div
  *ngIf="control.invalid && (control.dirty || control.touched)"
  class="error"
>
  <div *ngIf="control.hasError('required')">
    {{ errors.required ? errors.required : "This field is required" }}
  </div>
  <div *ngIf="control.hasError('pattern')">
    {{ errors.pattern ? errors.pattern : "This value is not valid." }}
  </div>
  <div *ngIf="control.hasError('email')">
    {{ errors.email ? errors.email : "This not valid email." }}
  </div>
  <div *ngIf="control.hasError('min')">
    {{ errors.min ? errors.min : "The value is less than the minimum value." }}
  </div>

  <div *ngIf="control.hasError('max')">
    {{ errors.max ? errors.max : "The value is exceeded the maximum value." }}
  </div>

  <div *ngIf="control.hasError('minlength')">
    {{
      errors.minlength
        ? errors.minlength
        : "The value length is less than minimum length."
    }}
  </div>

  <div *ngIf="control.hasError('maxlength')">
    {{
      errors.maxlength
        ? errors.maxlength
        : "The value length is exceeded the maximum length."
    }}
  </div>
</div>