<div *ngIf="this.onlineUser.myCrew==null">

  <div class="container" style="padding-top: 5rem;">
    <div class="row">
      <div class="col-md-4">
        <p class="text-center">Yeni Bir Gruba Katılabilirsiniz.</p>
        <div>
          <table class="table table-">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Crew Name</th>
                  <th scope="col">Crew Code</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mem of allCrews; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    {{ mem.cName }}
                  </td>
                  <td>{{ mem.cCode }}</td>
                  <td>
                    <button type="button" class="btn btn-success" (click)="join(i)">Join</button>
                  </td>
                </tr>
              </tbody>
            </table>
            
      </div>
          
      </div>

      
      <div class="col-md-4 offset-md-4">
        <p class="text-center">Yeni bir grup oluşturabilirsiniz.</p>
        <div class="form-group">
          <form (ngSubmit)="create()" [formGroup]="createCrew">
              <div class="form-group">
                  <input type="text" class="form-control" id="cName" formControlName="cName">
                  <label for="cName">Crew Name</label>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" id="cCode" formControlName="cCode">
                  <label for="cCode">Crew Code</label>
              </div>
              
              <input class="submit-btn" type="submit" value="Gönder">
          </form>
      </div>
      </div>
    </div>
    </div>
  </div>

    


    
<div *ngIf="this.onlineUser.myCrew!=null">
    <h3>My Crew - {{onlineUser.myCrew.cName}} </h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Bike</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of this.cMembers; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ member.username }}
            </td>
            <td>{{ member.email }}</td>
            <td>
              {{member.bike.name}}
            </td>
            <td>
              {{member.location}}
            </td>
          </tr>
        </tbody>
      </table>
    
</div>

