<h1>Dashboard</h1>


<div class="row text-center placeholders">
  <div class="col-6 col-sm-3 placeholder">
    <img
      src="assets/images/Logo.jpg"
      width="200"
      height="200"
      class="img-fluid rounded-circle"
      alt="Generic placeholder thumbnail"
    />
    <h4>Own</h4>
    <div class="text-muted">Feel the Freedom!</div>
  </div>
  <div class="col-6 col-sm-3 placeholder">
    <img
      src="assets/images/Logo.jpg"
      width="200"
      height="200"
      class="img-fluid rounded-circle"
      alt="Generic placeholder thumbnail"
    />
    <h4>Social</h4>
    <span class="text-muted">Meet The Strangers!</span>
  </div>
  <div class="col-6 col-sm-3 placeholder">
    <img
      src="assets/images/Logo.jpg"
      width="200"
      height="200"
      class="img-fluid rounded-circle"
      alt="Generic placeholder thumbnail"
    />
    <h4>Leadership</h4>
    <span class="text-muted">Lead your Gang!</span>
  </div>
  <div class="col-6 col-sm-3 placeholder">
    <img
      src="assets/images/Logo.jpg"
      width="200"
      height="200"
      class="img-fluid rounded-circle"
      alt="Generic placeholder thumbnail"
    />
    <h4>Easily</h4>
    <span class="text-muted">Organize your travel!</span>
  </div>
</div>


